/*Grid edit delete buttons in single line fix*/
.gridEditDeleteButtons {
    white-space: nowrap;
    width: 70px;
}

.gridEditDeleteButtons90 {
    white-space: nowrap;
    width: 90px;
}

.gridHdCheckBoxFix {
    margin-left: -3px;
}

.simpletooltip {
    margin: 8px;
    padding: 8px;
    border: 1px solid #333;
    background-color: #161616;
    color: #fff;
    position: absolute;
    z-index: 2;
}
